@"
.venv/
__pycache__/
*.pyc
.cache/
results/
*.h5
*.pt
*.pth
M5_DATASET/
baseline_fold_1_results.csv
DatasetDescription.pdf
Falciparum/gt/
Falciparum/img/
Malariae/gt/
Malariae/img/
Ovale/gt/
Ovale/img/
Vivax/gt/
Vivax/img/
"@ | Set-Content .gitignore